/* Apply teal background to the whole page */
body {
    background-color: teal;
    margin: 0 10%;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

/* Center the logo and add a colored border */
.header {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

/* Style the h1 */
.header h1 {
    color: #FFD700; /* Gold color */
    text-decoration: underline;
}
.header h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust as needed */
    width: 100%;
    border-bottom: 2px solid #FFD700; /* Gold color */
}

/* Style the h2 */
h2 {
    color: #FFD700; /* Gold color */
    text-decoration: underline;
}

/* Center the image */
.header img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 100%; /* Make the image round */
    border: 4px solid #CCAC55; /* Add a white border */
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    object-fit: Cover;
}

/* Style paragraphs */
p {
    color: white; /* White text */
    padding: 0 20px;
    line-height: 1.5;
}

/* Adjust spacing for paragraphs */
h2 + p {
    margin-top: 10px;
}

/* Adjust spacing for paragraphs following other paragraphs */
p + p {
    margin-top: 10px;
}